<h1>Books</h1

<div class="category-box">
  <div class="category">
    <div class="category-option">
      <img src="https://rukminim1.flixcart.com/image/312/312/kk76wsw0/book/2/b/9/bill-gates-success-secrets-original-imafzhyryfyx2hby.jpeg?q=70" alt=""></a>
      <span>Bill Gates:Success Secret</span>
      <%= link_to "Add to cart", carts_path() %>
      <%= link_to "Buy now", cart_path(:products) %>
      <div class="_8VNy32">
        <div class="_25b18c">
          <div class="_30jeq3">₹705</div>
        </div>
      </div>
    </div>
    <div class="category-option">
      <img src="https://rukminim1.flixcart.com/image/312/312/ktketu80/regionalbooks/e/k/i/25-ki-series-25-nda-gat-mock-test-series-original-imag6vwj8mfuj63s.jpeg?q=70" alt=""></a>
      <span>25 KI Series</span>
   </div>
    <div class="category-option">
      <img src="https://rukminim1.flixcart.com/image/312/312/ksez24w0/book/d/8/b/indian-polity-for-civil-services-and-other-state-examinations-original-imag5zd3gcmsghst.jpeg?q=70" alt=""></a>
      <span>Indian Polity</span>
    </div>
    <div class="category-option">
      <img src="https://rukminim1.flixcart.com/image/300/300/l4pxk7k0/regionalbooks/i/o/l/the-answer-writing-manual-for-upsc-civil-services-exam-state-psc-original-imagfjxzjpwzbcdh.jpeg?q=90" alt=""></a>
      <span>The Answer Writing</span>
    </div>
    <div class="category-option">
      <img src="https://rukminim1.flixcart.com/image/150/150/k5e7o280/regionalbooks/z/g/g/communication-theory-b-e-b-tech-iv-semester-r-17-anna-university-original-imafz2fv3pmdjxsr.jpeg?q=70" alt=""></a>
      <span>Communication Theory</span>
    </div>
  </div>
</div>   
