<!-- category navigation -->
<div class="category-box">
  <div class="category">
    <div class="category-option">
      <a href="https://www.flipkart.com/grocery-supermart-store?marketplace=GROCERY&fm=neo%2Fmerchandising&iid=M_9a1a9876-24bf-489c-b1ad-dcec54cacfad_1_372UD5BXDFYS_MC.CBUR1Q46W5F1&otracker=hp_rich_navigation_1_1.navigationCard.RICH_NAVIGATION_Grocery_CBUR1Q46W5F1&otracker1=hp_rich_navigation_PINNED_neo%2Fmerchandising_NA_NAV_EXPANDABLE_navigationCard_cc_1_L0_view-all&cid=CBUR1Q46W5F1">
      <img src="https://rukminim1.flixcart.com/flap/128/128/image/29327f40e9c4d26b.png?q=100" alt=""></a>
      <span>Grocery</span>
   </div>
    <div class="category-option">
      <a href= "https://www.flipkart.com/mobile-phones-store?fm=neo%2Fmerchandising&iid=M_9a1a9876-24bf-489c-b1ad-dcec54cacfad_1_372UD5BXDFYS_MC.ZRQ4DKH28K8J&otracker=hp_rich_navigation_2_1.navigationCard.RICH_NAVIGATION_Mobiles_ZRQ4DKH28K8J&otracker1=hp_rich_navigation_PINNED_neo%2Fmerchandising_NA_NAV_EXPANDABLE_navigationCard_cc_2_L0_view-all&cid=ZRQ4DKH28K8J">
      <img src="https://rukminim1.flixcart.com/flap/128/128/image/22fddf3c7da4c4f4.png?q=100" alt=""></a>
      <span>Mobiles</span>
    </div>
    <div class="category-option">
      <a href= "https://www.flipkart.com/clothing-and-accessories/topwear/pr?sid=clo,ash&p[]=facets.ideal_for%255B%255D%3DMen&p[]=facets.ideal_for%255B%255D%3Dmen&otracker=categorytree&fm=neo%2Fmerchandising&iid=M_9a1a9876-24bf-489c-b1ad-dcec54cacfad_1_372UD5BXDFYS_MC.6XNZG1FYFBZT&otracker=hp_rich_navigation_1_1.navigationCard.RICH_NAVIGATION_Fashion~Men%2527s%2BTop%2BWear_6XNZG1FYFBZT&otracker1=hp_rich_navigation_PINNED_neo%2Fmerchandising_NA_NAV_EXPANDABLE_navigationCard_cc_1_L1_view-all&cid=6XNZG1FYFBZT">
      <img src="https://rukminim1.flixcart.com/flap/128/128/image/82b3ca5fb2301045.png?q=100" alt=""></a>
      <span>Fashion</span>
    </div>
    <div class="category-option">
      <!-- <a href= "https://www.flipkart.com/elec-b2b-store?fm=neo%2Fmerchandising&iid=M_9a1a9876-24bf-489c-b1ad-dcec54cacfad_1_372UD5BXDFYS_MC.1B9DW42USMK1&otracker=hp_rich_navigation_2_1.navigationCard.RICH_NAVIGATION_Electronics~Electronics%2BGST%2BStore_1B9DW42USMK1&otracker1=hp_rich_navigation_PINNED_neo%2Fmerchandising_NA_NAV_EXPANDABLE_navigationCard_cc_2_L1_view-all&cid=1B9DW42USMK1"> -->
      <img src="https://rukminim1.flixcart.com/flap/128/128/image/69c6589653afdb9a.png?q=100" alt="" usemap="#workmapy"></a>
      <map name="workmapy">
        <area shape="default" coords="34,44,270,350" alt="Travels" href="electronics#index.html">
      </map>  
      <span>Electronics</span>
    </div>
    <div class="category-option">
      <a href= "https://www.flipkart.com/kitchen-cookware-serveware/pr?count=40&otracker=CLP_lhs&sid=upp&fm=neo%2Fmerchandising&iid=M_9a1a9876-24bf-489c-b1ad-dcec54cacfad_1_372UD5BXDFYS_MC.4EYWRCGS3WUT&otracker=hp_rich_navigation_4_1.navigationCard.RICH_NAVIGATION_Home~Kitchen%2B%2526%2BDining_4EYWRCGS3WUT&otracker1=hp_rich_navigation_PINNED_neo%2Fmerchandising_NA_NAV_EXPANDABLE_navigationCard_cc_4_L1_view-all&cid=4EYWRCGS3WUT">
      <img src="https://rukminim1.flixcart.com/flap/128/128/image/ee162bad964c46ae.png?q=100" alt=""></a>
      <span>Home</span>
    </div>
    <div class="category-option">
      <a href= "https://www.flipkart.com/tvs-and-appliances-new-clp-store?fm=neo%2Fmerchandising&iid=M_9a1a9876-24bf-489c-b1ad-dcec54cacfad_1_372UD5BXDFYS_MC.LO4IWVHA61BX&otracker=hp_rich_navigation_6_1.navigationCard.RICH_NAVIGATION_Appliances_LO4IWVHA61BX&otracker1=hp_rich_navigation_PINNED_neo%2Fmerchandising_NA_NAV_EXPANDABLE_navigationCard_cc_6_L0_view-all&cid=LO4IWVHA61BX">
      <img src="https://rukminim1.flixcart.com/flap/128/128/image/0ff199d1bd27eb98.png?q=100" alt=""></a>
       <span>Appliances</span>
    </div>
    <div class="category-option">
      

      <img src="https://rukminim1.flixcart.com/flap/128/128/image/71050627a56b4693.png?q=100" alt="" usemap="#workmapi"></a>
      <map name="workmapi">
          <area shape="default" coords="34,44,270,350" alt="Travels" href="products#show.html">
      </map>
      <span>Travel</span>
    </div>
    <div class="category-option">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSs-rW6aHzuFiTKfkFUckPCEj_D5WrVTUYFg&usqp=CAU" alt="" usemap="#workmap">      
        <map name="workmap">
          <area shape="default" coords="34,44,270,350" alt="Books" href="books#index.html">
        </map>
        <%#= link_to "Books",books_path() %>
       <span>Books</span>
    </div>
  </div>
 </div>
 <button type="button"
onclick="document.getElementById('demo').innerHTML = Date()">
Display the Current time-date</button>

<p id="demo"></p>

<!DOCTYPE html>
<html>
<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
</style>
<body>

<!-- Header -->
<div class="header">
  <h1>Responsive Image Grid</h1>
  <p>Resize the browser window to see the responsive effect.</p>
</div>

<!-- Photo Grid -->
<div class="row"> 
  <div class="column">
    <img src="https://rukminim1.flixcart.com/image/200/200/water-purifier/9/8/f/-1000x1000-imaemtfnd5yvrx98.jpeg?q=90" style="width:100%">
    <img src="https://rukminim1.flixcart.com/image/612/612/l1pc3gw0/shopsy-mobile-holder/i/m/g/stand-height-adjustable-and-angle-adjustable-telescopic-florican-original-imagd7knfxhuggyc.jpeg?q=70" style="width:100%">
    <img src="https://rukminim1.flixcart.com/image/612/612/kiqbma80-0/memory-card/microsdhc/u/r/e/sdsdqm-032g-b35-sdsqbnn-032g-go31n-sandisk-original-imafygbgjupug9gn.jpeg?q=70" style="width:100%">
    <img src="https://rukminim1.flixcart.com/image/612/612/k5o7r0w0/data-cable/usb-type-c-cable/b/9/d/stuffcool-4-in-1-cable-1m-usb-to-micro-usb-to-c-type-c-to-c-c-to-original-imafzakgf8qfux72.jpeg?q=70" style="width:100%">
  </div>
  <div class="column">
    <img src="https://rukminim1.flixcart.com/image/612/612/kynb6vk0/monitor/1/n/s/lf22t354fhwxxl-full-hd-22-lf22t354fhwxxl-samsung-original-imagats2rjbg9uhv.jpeg?q=70" style="width:80%">
    <img src="https://rukminim1.flixcart.com/image/612/612/kppt47k0/mouse/g/t/e/wired-mouse-qhm-224d-quantum-original-imag3vv5eer933fe.jpeg?q=70" style="width:50%">
    <img src="https://rukminim1.flixcart.com/image/612/612/kfsl18w0/pendrive/pendrive/z/x/v/hp-v236w-original-imafw69vquvef7ub.jpeg?q=70" style="width:50%">
    <img src="/w3images/mountainskies.jpg" style="width:100%">
    <img src="/w3images/rocks.jpg" style="width:100%">
    <img src="/w3images/underwater.jpg" style="width:100%">
  </div>  
  <div class="column">
    <img src="/w3images/wedding.jpg" style="width:100%">
    <img src="/w3images/rocks.jpg" style="width:100%">
    <img src="/w3images/falls2.jpg" style="width:100%">
    <img src="/w3images/paris.jpg" style="width:100%">
    <img src="/w3images/nature.jpg" style="width:100%">
    <img src="/w3images/mist.jpg" style="width:100%">
    <img src="/w3images/paris.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="/w3images/underwater.jpg" style="width:100%">
    <img src="/w3images/ocean.jpg" style="width:100%">
    <img src="/w3images/wedding.jpg" style="width:100%">
    <img src="/w3images/mountainskies.jpg" style="width:100%">
    <img src="/w3images/rocks.jpg" style="width:100%">
    <img src="/w3images/underwater.jpg" style="width:100%">
  </div>
</div>

</body>
</html>

