<div class="footer">
  <div class="container">
    <p>Policies:Returns|Policy|Terms of useSecurity|Privacy|Infringement© Flipkart india.com
 <%= Date.current.year%>.All Rights Reserved | Contact Us: +91 9100000000.</p>
  </div>
</div>
